<h2 id="title">Users</h2>
{{outlet}}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr><th>Name</th><th>Role</th><th>Email</th><th>Phone</th></tr>
  </thead>
  <tbody>
{{#each user in model}}
{{user-record user=user}}
{{/each}}
  </tbody>
</table>
